@import 'base.css';
body{
	/*background: radial-gradient(#222,#000);
	background: -webkit-radial-gradient(#222,#000);*/
	background-color: #50e3d9;
}
.image-space{
	width: 100%;
	height: 100%;
	perspective: 2000px;
	position: relative;
}
.container{
	width: 100%;
	height: 100%;
	transition: transform .5s ease;
	transform-style: preserve-3d;
	transform-origin: 50% 50%;
}
.container section{
	position: absolute;
	width: 150px;
	height: 150px;
	border-radius: 10%;
	overflow: hidden;
	overflow: hidden;
	display: inline-block;
	border: solid 6px #f0f0f0;
	box-shadow: 0 0 100px #ffffcf;
	transition: transform .5s ease-in-out;
	animation: animate 6s infinite  ease;
}

.container section img{
	width: inherit;
	height: inherit;
	
}
.container section:hover{
	transform:rotateX(0deg) rotateY(0deg) scale(4,4) translateZ(300px) !important;
	box-shadow: 0px 0px 20px #fff;
}

@keyframes animate{
	0%{
		margin-top:0px;
	}
	25%{
		margin-top:10px;
	}
	50%{
		margin-top:0px;
	}
	75%{
		margin-top:-10px;
	}
	100%{
		margin-top:0px;
	}
}